<div class="mt-5 container">
    <div class="card">
      <div class="card-header">
        <h4>ActiveUsers
          <a routerLink="/Create-genra" class="btn btn-primary float-end">Add Genres</a>
          <div class="input-container">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Search ....">
          </div>
        </h4>
      </div>
      <div class="card-body" >
        <div *ngIf="isloading; else elseTableBlock">
          <app-loading></app-loading>
        </div>
        <ng-template #elseTableBlock>
          <table class="table table-striped table-bordered  table-width">
            <thead>
              <tr>
                <th>ID</th>
                <th>الاسم</th>
                
                <th>العدد</th>
                
                
                <th>السعر</th>
                <th>الوصف</th>
                <th>الشركه</th>
                <th>صورة الخدمة</th>
                

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allservice | filter:searchTerm ">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>    
                <td>{{item.number}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td>{{item.company}}</td>
                
                <!-- <td>{{ item.contentType }}</td> -->
                <td><img  class="img-responsive img-thumbnail" src={{item.imageService}}
                   style="width:70px;height:70px"></td>
               
          
                <td >
                  <a routerLink="/update/{{item.id}}/Service" class="btn btn-success">Edit</a>
                  <!-- <button type="button" (click)="deletecompany($event,item.id)" class="btn btn-danger">Delete</button>  -->
                  
                </td> 
                <!-- <td><img src="C://Users//Qursan//Desktop//rafahia//RafahiaSolution//Rafahia.Api//wwwroot//Images\CompanyImages//6d693361-74a9-4257-8a11-bf6fdccbb35c.jpeg"/></td>
              </tr> -->
            </tbody>
          </table>
        </ng-template>
      </div>
    </div>
  </div>