.star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('src\assets\Images\star.svg'); /* Replace with your star icon image */
    background-size: cover;
  }
  
body{
  margin-right: 40px;
}
.table{
border:solid #333;
}
.bd-example-snippet{
  width: 950px;
}

.count-row{
padding-top:20px;
padding-bottom:20px;

}
.users-text{
font-size:28px;
padding-bottom:20px;
}


.table-responsive{
margin-left:20px;
margin-right:20px
}

table tr .tth{
background-color: #467194;
color: #ffffff;
}


.container-input {
position: relative;
right:0 ;
left: 0;


width: 100px;
}

.input {
width: 300px;
padding: 10px 50px 10px 40px;
border-radius: 20px 0 0 0;
border: solid 1px #333;
transition: all .2s ease-in-out;
outline: none;
opacity: 0.8;
}

.container-input svg {
position: absolute;
top: 50%;
left: 70px;
transform: translate(0, -50%);
}

.input:focus {
opacity: 1;
width: 250px;
}





button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 15px 8px 15px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 14px;
  border-radius: 500px;
  overflow: hidden;
  background: #efebb4;
  color: rgb(255, 251, 248);
 }
 
 button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 button:hover span {
  color: #467194;
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: #467194;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }

 .imgess{
  width: 50px;
  height: 35px; 
 }


 .button-block {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 15px 8px 15px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 14px;
  border-radius: 500px;
  overflow: hidden;
  background: #b4565f;
  color: rgb(255, 251, 248);
 }
 
 .button-block span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .button-block:hover span {
  color: #efebb4;
 }
 
 .button-block::before,
 .button-block::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .button-block::before {
  content: "";
  background: #7c1620;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .button-block:hover::before {
  transform: translate3d(100%, 0, 0);
 }


 
 .botton-unblock{
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 15px 8px 15px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 14px;
  border-radius: 500px;
  overflow: hidden;
  background: #89d7bf;
  color: rgb(255, 251, 248);
 }
 
 .botton-unblock span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .botton-unblock:hover span {
  color: #efebb4;
 }
 
 .botton-unblock::before,
 .botton-unblock::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .botton-unblock::before {
  content: "";
  background: #3e7262;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .botton-unblock:hover::before {
  transform: translate3d(100%, 0, 0);
 }

