 
  
  <!DOCTYPE html>
  <html lang="rtl">
  
  <head>
      <title>Log-in or sign-up</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div class=" ">
    
          <div class="cont col-12 col-md-10 col-sm-12">
              <div class=" ">
                <div class="img">              
                </div>
                  <br>
                  <br>
                  <h2 class="login-text"> انشاء العروض الخاصه بك</h2>
                  
                  <br>
                  <br>
                

                  <div class="input-container">
                    <input type="text" [(ngModel)]="titelms" name="password">
                    <label for="input" class="label">   عنوان العرض</label>
                    <br>
                  </div>

                  <div class="input-container pt-2">
                    <input type="text" [(ngModel)]="confirms" name="confirm">
                    <label for="input" class="label pt-1">   محتوى العرض </label>
                    
                  </div>
                  
                  <button type="button" class="submit"  (click)="saveadmin()"> ارسال </button>
               
              </div>
              <div class="sub-cont">
                <!-- <div class="img">
                  
                 
                  
                </div> -->
                 
              </div>
          </div>
      
  
  
          
  
  
        </div> 
  </body>
  
  </html> 


 
   